body {
  margin: 0;
}
div {
  box-sizing: border-box;
}

/* ============== */
/* ===회원정보=== */
/* ============== */
.profile-black {
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  display: none;
}
.profile-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-white {
  background-color: white;
  width: 600px;
  min-height: 400px;
  padding: 30px;
  position: relative;
}
.profile-white h2 {
  text-align: center;
}
.profile-white ul {
  list-style: none;
  padding: 20px;
}
.profile-btn {
  text-align: end;
}
.profile-white p {
  margin-bottom: 5px;
  margin-top: 20px;
}
.profile-white input {
  display: none;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid green;
}

/* ============== */
/* ===검색결과=== */
/* ============== */

.black-area {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.687);
  position: fixed;
  display: none;
  z-index: 5;
}
.black-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-area {
  width: 800px;
  min-height: 400px;
  max-height: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}

.black-close {
  width: 20px;
  height: 20px;
  padding: 5px;
  float: right;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
  margin-bottom: 30px;
}
.black-close-area::after {
  content: '';
  display: block;
  clear: both;
}
.black-close-bar {
  background-color: gray;
  height: 2px;
  width: 50%;
  position: absolute;
}
.black-close-bar:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
}
.black-close-bar:last-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
}
.user-search {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.search-input {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid gray;
  padding: 5px 16px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.search-icon {
  flex-grow: 1;

  border: 1px solid gray;

  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.search-icon i {
  padding: 10px 20px;
  margin-left: -5px;
}

.search-result {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.plus-btn {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

/* ============== */
/* ===채팅박스=== */
/* ============== */
#chattingArea {
  width: 300px;
  background: #eee;
  border-radius: 5px;
  padding: 10px 20px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 1px solid #ccc;
  display: none;
}
.black-close:hover {
  background-color: red;
}
.black-close:hover .black-close-bar {
  background-color: white;
}
/* ( 유저 이름 ) */
#memberNameArea {
  border-bottom: 1px solid #aaa;

  text-align: center;
}
/* ( 채팅창 ) */
#chatContentArea {
  margin: 10px 0;
  height: 300px;
  font-size: 13px;
  overflow-y: scroll;
}
.chatBallonArea::after {
  clear: both;
  content: '';
  display: block;
}
#chatContentArea::after {
  content: '';
  display: block;
  clear: both;
}

.chattingBtn {
  margin-bottom: 10px;
}
.chattingBtn::after {
  content: '';
  clear: both;
  display: block;
}

.chat-ballon1 {
  max-width: 70%;
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 5px 0;
  position: relative;
  float: right;
  margin-right: 10px;
}
.chat-ballon1::after {
  content: '';
  display: inline-block;
  border-top: 10px solid yellow;
  border-left: 10px solid yellow;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: -1;
}
.chat-ballon2 {
  max-width: 70%;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 5px 0;
  position: relative;
  float: left;
  margin-left: 10px;
}
.chat-ballon2::after {
  content: '';
  display: inline-block;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: -1;
}
.chat-time1,.chat-time2{
display:inline-block;
position:absolute;
font-size:10px;
}
.chat-time1{
left:-5px;
bottom:0;
transform:translateX(-100%);
}
.chat-time2{
left:calc(100% + 4px);
bottom:0;

}
#message {
  border: none;
  margin: 0;
  border-bottom-left-radius: 5px;
  flex-grow: 1;
}
#message:focus {
  outline: none;
}
.send-btn {
  background-color: #ccc;
  border: none;
  width: 50px;
  padding: 10px;
}
.send-btn:hover {
  background-color: #aaa;
}
/* ( 축소, 닫기버튼 ) */
.close,
.down {
  width: 20px;
  height: 20px;
  padding: 5px;
  float: right;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
}
.close:hover,
.down:hover {
  background-color: red;
}
.close:hover .close-bar,
.down:hover .down-bar {
  background-color: white;
}
.close-bar {
  background-color: gray;
  height: 2px;
  width: 50%;
  position: absolute;
}
.close-bar:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
}
.close-bar:last-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
}

.down-bar {
  background-color: gray;
  height: 2px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ============ */
/* ===상단바=== */
/* ============ */
.nav {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  font-size: 13px;
}
.nav > * {
  color: gray;
}
.nav > *::after {
  content: '|';
  padding: 0 10px;
}
.nav a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

/* =============== */
/* ===게임 영역=== */
/* =============== */
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-area {
  flex-grow: 1;
  padding: 50px;
}

.matchingArea{
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
}


#matchingStartBtn,
#matchingStartBtn3,
#matchingCancleBtn,
#matchingCancleBtn3{
margin: 21px;
  background: #0c6428aa;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
}
#matchingStartBtn:hover,
#matchingCancleBtn:hover {
  background-color: rgb(216, 163, 63);
  border: none;
}

#matchingCancleBtn {
  display: none;
}

/* ============== */
/* ===유저상태=== */
/* ============== */
.user-area {
  margin-top: 20px;
  padding: 30px;
}
.user-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  position: sticky;
  top: 20px;
  border-radius: 5px;
  width: 250px;
}
.add-area {
  color: gray;
  font-size: 12px;
  text-align: right;
}

.add-friends {
  cursor: pointer;
}
.add-friends:hover {
  color: red;
}
.accept-area {
  text-align: center;
  margin: 20px 0;
  display: none;
}
.accept-msg-area {
  padding-top: 10px;
  font-size: 12px;
  border-left: 20px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
}
.accept-msg {
  margin: 10px 0;
}
.accept-check {
  display: flex;
  width: 100%;
}
.yes,
.no {
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
}
.no {
  background-color: lightsalmon;
  border-bottom-right-radius: 5px;
}
.no:hover {
  background-color: rgb(202, 117, 94);
}
.yes {
  background-color: rgb(134, 216, 134);
}
.yes:hover {
  background-color: rgb(64, 148, 64);
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px 10px;
}
.user-list:hover {
  background-color: #eee;
  cursor: pointer;
}
.user-name {
  color: #333;
}
.user-online {
  background-color: rgba(62, 157, 62, 0.6);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.user-offline {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
 .chat-alarm {
      display: inline-block;
      background-color: rgb(228, 173, 71);
      color: white;

      padding: 0 5px;
      border-radius: 20px;
      font-size: 12px;
    }
.message-area {
  display: flex;
  margin: 0 -20px;
  margin-bottom: -10px;
}

/* 그림판 */
.gameArea {

  padding: 20px;
  border: 1px solid black;
}
.gameArea-flex {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.user1_area,
.user2_area,
.user3_area,
.user4_area{
  margin-bottom:10px;
  border-radius: 10px;
  font-size: 16px;
  position:relative;
}




.user1_area {
  border: 1px solid green;
}
.user2_area {
  border: 1px solid orange;
}
.user3_area {
  border: 1px solid orange;
}
.user4_area {
  border: 1px solid orange;
}
.user1_name,
.user2_name,
.user3_name,
.user4_name{
  border-bottom: 1px solid #ccc;
}
.user1_answer,
.user2_answer,
.user3_answer,
.user4_answer{
width:max-content;
max-width:200px;
word-wrap:break-word;
  position:absolute;
  padding: 10px;
  top:0px;
 z-index:99;
  border-radius:5px;
}
.right_answer{
right:100%;
background-color:#9d6389;
color:white;
transform:translateX(-5px);
}
.right_answer::after {
  content: '';
  display: inline-block;
  border-top: 7px solid #9d6389;
  border-left: 7px solid #9d6389;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  position: absolute;
  right: -10px;
  top: 5px;
  z-index:98;
}
.left_answer{
left:100%;
background-color:#84efe9;
transform:translateX(5px);
}
.left_answer::after {
  content: '';
  display: inline-block;
  border-top: 7px solid #84efe9;
  border-left: 7px solid transparent;
  border-right: 7px solid #84efe9;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: -10px;
  top: 5px;
  z-index: 98;
}

.quizBox{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}
.timeBox {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.myCanvas{

}
.inGameMenu {
  margin-top: 20px;
  position: relative;
}
.inGameMenu > .btn {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
}
.btn-wrap1,
.btn-wrap2 {
  width: 100%;
  padding-top: 20px;
  height: 50%;
}

.inGameMenu > .input {
  text-align: center;
}

.answerBox {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
}
.answerBox:focus {
  outline: none;
  border: 2px solid #0c6428aa;
  width: 25%;
  transition: width 0.5s;
}
.sendBtn {
  margin-left: 10px;
  background-color: #0c6428aa;
  border: none;
  color: white;
  width: 150px;
  padding: 5px 0;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: orange;
}

.color-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.color-btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.blackBtn {
  background-color: black;
}
.redBtn {
  background-color: red;
}
.blueBtn {
  background-color: blue;
}
.rollBackBtn,
.clearBtn {
  background-color: #333;
  color: white;
  width: 70px;
  height: 25px;
  vertical-align: top;
}

.rollBackBtn:hover,
.clearBtn:hover {
  background-color: red;
  border: none;
}

@media screen and (max-height:800px){
    .user1_area,.user2_name,.user3_name,.user4_name{
    font-size:16px;
    }
.btn-wrap1, .btn-wrap2{
padding-top:5px;}
.sendBtn{
margin-top:10px;}
.gameArea {
    padding: 10px 20px;
    transition: all 0.5s;

}
.quizBox,.timeBox{
padding-top:0;
font-size:16px;}
}

.finalScore_wrapBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: rgba(21, 21, 18, 0.58);
      position: absolute;
      z-index:99;
      top: 0;
    }
    .finalScore_container {
      background-color: #eee;
      width: 600px;
      height: 500px;
      padding: 30px;
      position: relative;
    }
    .finalScore_container > h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 36px;
    }
    .finalScore_content {
      display: flex;
      width: 400px;
      margin: 0 auto;
      font-size: 24px;
    }
    .finalScore_name_box {
      border-right: 1px solid black;
    }
    .finalScore_score_box,
    .finalScore_name-box {
      width: 50%;
      text-align: center;
    }
    .finalScore_name_txt,
    .finalScore_score_num {
      padding: 10px 0;
      margin-right: 30px;
    }

    .finalScore_btnWrap {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);
    }
    .finalScore_okBtn {
      font-size: 20px;
      padding: 5px 10px;
      cursor: pointer;
    }