<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <title>Chating</title>
    <link rel="stylesheet" href="/static/adminPage.css">
</head>
<body>
<ul class="side_menu_box">
    <li class="side_list1" onclick="set_side_list(0)">프로필 사진 선택</li>
    <li class="side_list2" onclick="set_side_list(1)">상점 아이템 등록</li>
    <li class="side_list3" onclick="set_side_list(2)">상점 아이템 삭제</li>
    <li class="side_list4" onclick="set_side_list(3)">게임 설정 세팅</li>
    <li class="side_list5" onclick="set_side_list(4)">멤버 관리</li>
</ul>
<!--상단 바-->
<div class="nav">
    <span id="myIdArea"></span>
    <a href="/main">메인</a>
    <a href="/member/logout">로그아웃</a>
    <a href="/store">상점</a>
    <a href="/myItems">내 아이템</a>
    <a href="/myPage">마이페이지</a>
</div>
<div class="wrap">
    <div class="shop_modal">
        <div class="shop_content">

        </div>
    </div>
    <h1 class="page_tit">관리자 페이지</h1>
    <div class="admin_container">
        <div class="profile">
            <div class="profile_setting_box">
                <div class="profile_img_box">
                    <input type="file" id="file" multiple />
                </div>
                <button class="picture_selectBtn" onclick="setProfile()">
                    기본사진 선택 완료
                </button>
            </div>
        </div>
        <div class="register">
            <h2>상점 아이템 등록</h2>
            <div class="item_inform_box">
                <div>아이템 이름</div>
                <input id="name" type="text" />
                <div>아이템 가격</div>
                <input id="price" type="text" />
                <div>아이템 사진</div>
                <div class="item_img_box">
                    <input type="file" id="itemPicture" multiple />
                </div>
            </div>
            <div>
                <button class="register_btn" onclick="itemRegistration()">
                    등록
                </button>
            </div>
        </div>
        <div class="shop_item_wrap"></div>
        <div class="game_setting"></div>
        <div class="member_info"></div>
    </div>
</div>
<script src="/static/adminPage.js"></script>
</body>
</html>