<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/static/joinForm.css">
</head>
<body>
<div class="container">
    <h2 class="title">회원가입</h2>

    <div class="input-box">
        <input type="text" id="id" name="id" placeholder="ID" />
        <div class="check-box">
            <div id="idMessageBox"></div>
        </div>
        <div class="warn"></div>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="password"
        />
        <div class="warn"></div>
        <input type="text" id="nick_name" name="nick_name" placeholder="nick name"/>
        <div class="check-box">
            <div id="nickNameMessageBox"></div>
        </div>

        <div class="warn"></div>
        <input type="text" id="name" name="name" placeholder="name" />
        <div class="warn"></div>

        <input type="email" id="email" name="email" placeholder="email" />
        <div class="warn"></div>
        <div class="radio-box">
            <div data-togglee="buttons">
                <label>
                    <input
                            type="radio"
                            name="gender"
                            autocomplete="off"
                            value="남자"
                            checked
                    />남자
                </label>
                <label>
                    <input
                            type="radio"
                            name="gender"
                            autocomplete="off"
                            value="여자"
                            checked
                    />여자
                </label>
            </div>
        </div>
        <div class="warn"></div>
    </div>

    <div>
        <button class="join-btn" onclick="join()">가입하기</button>
    </div>

    <div>
        <a class="login" href="/">로그인</a>
    </div>
</div>

<script src="/static/joinForm.js"></script>
</body>
</html>