<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chating</title>
</head>

<body>
    <div>
        <a href="/member/logout">로그아웃</a>
        <span></span>
    </div>

    <div id="container" class="container">
        <div style="border: 1px solid black; text-align: center; display:inline-block;">
            <table id="memberListTable" style="text-align: center;">

            </table>
        </div>
    </div>

    <div id="chattingArea" style="border: 1px solid black; width: 300px;">
        <div id="memberNameArea" style="border: 1px solid black; text-align: center;"></div>
        <div id="chatContentArea" style="height: 300px;">

        </div>
        <div style="display: flex;">
            <input id="message" type="text" style="width: 240px;">
            <button onclick="sendMessage()" style="width: 60px;">전송</button>
        </div>

    </div>

<script type="text/javascript">
    const memberListTable = document.getElementById('memberListTable');
    const chattingArea = document.getElementById('chattingArea');
    const memberNameArea = document.getElementById('memberNameArea');
    const chatContentArea = document.getElementById('chatContentArea');
    const message = document.getElementById('message');

    let chattingAreaMemberName = '';
    let chattingAreaIsTrue = false;

    //채팅창 공강 기본 숨김
    chattingArea.style.display = 'none';

    let memberList = [];
    var ws;

    //로그인 후 main 페이지 로드 시 소캣 연걸
    window.onload = wsOpen;
    function wsOpen(){
        ws = new WebSocket("ws://" + location.host + "/start");
        wsEvt();
    }

    function wsEvt() {
        ws.onopen = function(data){

        }


        ws.onmessage = function(data) {
            console.log(data.data);
            let msg = JSON.parse(data.data);

            // 다른 member 에게 메시지를 받은 경우
            if(msg.request == 'sendMessage'){
                chatContentArea.innerHTML += `<p style="text-align: left;">${msg.data}</p>`;
            }

            if(msg.member != undefined){

                //중복 검사
                let isMemberExist=0;
                for(let i = 0; i < memberList.length; i++){
                    if(memberList[i] == msg.member){
                        isMemberExist++;
                    }
                }

                //memberList 에 member 추가
                if(isMemberExist == 0){
                    memberList.push(msg.member);
                    memberListTable.innerHTML = `
                        <tr>
                            <th>현재 접속중이 유저</th>
                        </tr>
                    `;
                    for(let i = 0; i < memberList.length; i++){
                        memberListTable.innerHTML += `
                            <tr>
                                <td onclick="chat('${memberList[i]}')">${memberList[i]}</td>
                            </tr>
                        `;
                    }
                }
            }


        }

<!--        document.addEventListener("keypress", function(e){-->
<!--            if(e.keyCode == 13){ //enter press-->
<!--                send();-->
<!--            }-->
<!--        });-->
    }
    function chat(member){
        if(chattingAreaMemberName != member){
            chattingAreaMemberName = member;
        }else{
            chattingAreaIsTrue = !chattingAreaIsTrue;
        }

        if(chattingAreaIsTrue){
            chattingArea.style.display = 'none';
        }else{
            chattingArea.style.display = 'block';
        }

        memberNameArea.innerHTML = member;
    }
    function RequestParam (request, receiver, data){
        this.request = request;
        this.receiver = receiver;
        this.data = data;
    }


    function sendMessage(){
        const requestParam = new RequestParam('sendMessage', memberNameArea.innerHTML, message.value);

        ws.send(JSON.stringify(requestParam));

        message.value = '';
        chatContentArea.innerHTML += `<p style="text-align: right;">${requestParam.data}</p>`;
    }
</script>
</body>
</html>