<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chating</title>
    <style>
        #chatContentArea{
            overflow-y: scroll;
        }

    </style>
</head>

<body>
    <!--상단 바-->
    <div style="text-align: right; border: 1px solid black; height: 5vh;">
        <span id="myIdArea"></span>
        <a href="/member/logout">로그아웃</a>
        <span></span>
    </div>

    <!--중단 바-->
    <div style="display: flex;">
        <div style="width: 85%; height:30vh; border: 1px solid black;"></div>
        <!--현재 접속중인 유저-->
        <div style="text-align: center; width: 15%;">
            <div style="border: 1px solid black; text-align: center;">
                <table id="memberListTable" style="text-align: center;">

                </table>
            </div>
        </div>
    </div>

    <div id="chattingArea" style="border: 1px solid black; width: 300px;">
        <div id="memberNameArea" style="border: 1px solid black; text-align: center;"></div>
        <div id="chatContentArea" style="height: 300px;">

        </div>
        <div style="display: flex;">
            <input id="message" type="text" style="width: 240px;">
            <button onclick="setMessage()" style="width: 60px;">전송</button>
        </div>

    </div>

<script type="text/javascript">
    const memberListTable = document.getElementById('memberListTable');
    const chattingArea = document.getElementById('chattingArea');
    const memberNameArea = document.getElementById('memberNameArea');
    const chatContentArea = document.getElementById('chatContentArea');
    const message = document.getElementById('message');
    const myIdArea = document.getElementById('myIdArea');
    let myId = '';

    let chattingAreaMemberName = '';
    let chattingAreaIsTrue = false;
    let chattingData = [];

    //채팅창 공강 기본 숨김
    chattingArea.style.display = 'none';

    let memberList = [];
    var ws;

    //로그인 후 main 페이지 로드 시 소캣 연걸
    window.onload = wsOpen;
    function wsOpen(){
        ws = new WebSocket("ws://" + location.host + "/start");
        wsEvt();
    }

    function wsEvt() {
        ws.onopen = function(data){
            //
        }


        ws.onmessage = function(data) {
            let msg = JSON.parse(data.data);

            // 다른 member 에게 메시지를 받은 경우
            if(msg.request == 'sendMessage'){
                chattingData.push(msg);
                if(msg.sender == myId){
                    chatContentArea.innerHTML += `<p style="text-align: right; margin: 0px;">${msg.content}</p>`;
                }else{
                    chatContentArea.innerHTML += `<p style="text-align: left; margin: 0px;">${msg.content}</p>`;
                }
                chatContentArea.scrollTop = chatContentArea.scrollHeight;
            }
            if(Array.isArray(msg)){
                chattingData = msg;
            }

            if(msg.myId != undefined){
                myIdArea.innerHTML = `${msg.myId}`;
                myId = msg.myId;
            }

            if(msg.member != undefined){

                //중복 검사
                let isMemberExist=0;
                for(let i = 0; i < memberList.length; i++){
                    if(memberList[i] == msg.member){
                        isMemberExist++;
                    }
                }

                //memberList 에 member 추가
                if(isMemberExist == 0){
                    memberList.push(msg.member);
                    memberListTable.innerHTML = `
                        <tr>
                            <th>접속중</th>
                        </tr>
                    `;
                    for(let i = 0; i < memberList.length; i++){
                        memberListTable.innerHTML += `
                            <tr>
                                <td onclick="chat('${memberList[i]}')">${memberList[i]}</td>
                            </tr>
                        `;
                    }
                }
            }
        }


    }
    function chat(member){
        memberNameArea.innerHTML = member;

        if(chattingAreaMemberName != member){
            chattingAreaMemberName = member;
        }else{
            chattingAreaIsTrue = !chattingAreaIsTrue;
        }

        if (chattingAreaIsTrue) {
            chattingArea.style.display = 'none';
        } else {
            chatContentArea.innerHTML = '';
            inputAllChattingData(member);
            chattingArea.style.display = 'block';
            chatContentArea.scrollTop = chatContentArea.scrollHeight;
        }
    }
    function RequestParam (request, receiver, data = ''){
        this.request = request;
        this.receiver = receiver;
        this.data = data;
    }

    function inputAllChattingData(member){
        for(let i = 0; i < chattingData.length; i++){
            if( (chattingData[i].sender == member && chattingData[i].receiver == myId)
                || (chattingData[i].sender == myId && chattingData[i].receiver == member) ){

                if(chattingData[i].sender == myId){
                    chatContentArea.innerHTML += `<p style="text-align: right; margin: 0px;">${chattingData[i].content}</p>`;
                }else{
                    chatContentArea.innerHTML += `<p style="text-align: left; margin: 0px;">${chattingData[i].content}</p>`;
                }
            }
        }
    }



    function setMessage(){
        const requestParam = new RequestParam('sendMessage', memberNameArea.innerHTML, message.value);
        send(requestParam);
        message.value = '';
    }

    function send(requestParam){
        ws.send(JSON.stringify(requestParam));
    }
</script>
</body>
</html>