<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chating</title>
</head>

<body>
    <div>
        <a href="/member/logout">로그아웃</a>
        <span></span>
    </div>

    <div id="container" class="container">
        <div style="border: 1px solid black; text-align: center; display:inline-block;">
            <table id="memberListTable" style="text-align: center;">

            </table>
        </div>
    </div>

    <div id="chattingArea" style="border: 1px solid black; text-align: center; display:inline-block;">

    </div>

<script type="text/javascript">
    const memberListTable = document.getElementById('memberListTable');
    const chattingArea = document.getElementById('chattingArea');
    chattingArea.style.display = 'none';

    let memberList = [];
    var ws;
    window.onload = wsOpen;

    function wsOpen(){
        ws = new WebSocket("ws://" + location.host + "/start");
        wsEvt();
    }

    function wsEvt() {
        ws.onopen = function(data){
<!--            ws.send("{\"request\": \"memberLogin\"}");-->
        }

        ws.onmessage = function(data) {
            let msg = JSON.parse(data.data);

            if(msg.member != undefined){

                //중복 검사
                let isMemberExist=0;
                for(let i = 0; i < memberList.length; i++){
                    if(memberList[i] == msg.member){
                        isMemberExist++;
                    }
                }

                //memberList 에 member 추가
                if(isMemberExist == 0){
                    memberList.push(msg.member);
                    memberListTable.innerHTML = `
                        <tr>
                            <th>현재 접속중이 유저</th>
                        </tr>
                    `;
                    for(let i = 0; i < memberList.length; i++){
                        memberListTable.innerHTML += `
                            <tr>
                                <td onclick="chat('${memberList[i]}')">${memberList[i]}</td>
                            </tr>
                        `;
                    }
                }
            }


        }

<!--        document.addEventListener("keypress", function(e){-->
<!--            if(e.keyCode == 13){ //enter press-->
<!--                send();-->
<!--            }-->
<!--        });-->
    }
    function chat(member){
        chattingArea.style.display = 'block';
        chattingArea.innerHTML = member +' 과의 채팅 공간';
    }
</script>
</body>
</html>