<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/myItems.css">
</head>
<body>
<!--상단 바-->
<div class="nav">
    <span id="myIdArea"></span>
    <a href="/main">메인</a>
    <a href="/member/logout">로그아웃</a>
    <a href="/store">상점</a>
    <a href="/myItems">내 아이템</a>
    <a href="/myPage">마이페이지</a>
</div>
<div class="shop_modal">
    <div class="shop_content"></div>
</div>
<div class="container">
    <div class="shop">
        <h1 class="shop_tit">내 아이템</h1>
        <h3 class="game_point"></h3>
        <ul class="shop_item_wrap"></ul>
    </div>
</div>
<script src="/static/myItems.js"></script>
</body>
</html>