<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/myPage.css">
</head>
<body>
<!--상단 바-->
<div class="nav">
    <span id="myIdArea"></span>
    <a href="/main">메인</a>
    <a href="/member/logout">로그아웃</a>
    <a href="/store">상점</a>
    <a href="/myItems">내 아이템</a>
    <a href="/myPage">마이페이지</a>
</div>

    <div class="container">
        <h1>마이페이지</h1>
        <div id="test">


        </div>
    </div>
<script src="/static/myPage.js"></script>
</body>
</html>