<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div class="container">
    <h2>상점</h2>
</div>
<script>
    const container = document.querySelector('.container');

    getItems();

    async function getItems(){
        const items = await getRequest('/store/getItems');
        for(let i = 0; i < items.length; i++){
            container.innerHTML += `
                <p>${items[i].name} -> ${items[i].price}원</p>
            `;
        }
    }
    async function getRequest(url = '') {
        try {
            const response = await fetch(url, { method: 'GET' });
            if (!response.ok) {
                throw new Error(
                    'Network response was not ok ' + response.statusText
                );
            }
            const responseData = await response.json();
            return responseData;
        } catch (error) {
            console.error('Fetch operation failed:', error);
        }
    }
</script>
</body>
</html>