<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div class="container">
    <a href="#" onclick="getItems()">상점</a>
    <a href="#" onclick="getMyItems()">내 아이템</a>
    <div class="items_area"></div>
    <div class="my_items_area"></div>
</div>
<script>
    const items_area = document.querySelector('.items_area');
    const my_items_area = document.querySelector('.my_items_area');

    let items = [];
    getItems();

    my_items_area.style.display = 'none';

    async function getItems(){
        my_items_area.style.display = 'none';
        items_area.style.display = 'block';

        // [ '/store/getItems' ] -> items = [{ name : ㅁㅁㅁ , price : xxx }, ..... ]
        items = await getRequest('/store/getItems');

        items_area.innerHTML = '';
        for(let i = 0; i < items.length; i++){
            items_area.innerHTML += `
                <div class="item">
                    <span class="item-name">${items[i].name}</span>
                    <span class="price">${items[i].price}</span>
                    <button onclick="buy(${i})">구매</button>
                </div>
            `;
        }
    }
    async function getMyItems(){
        my_items_area.style.display = 'block';
        items_area.style.display = 'none';

        my_items_area.innerHTML = '';
        let myItems = await getRequest('/store/getMyItems');

        for(let i = 0; i<myItems.length; i++){
            my_items_area.innerHTML += `
                <div class="item">
                    <span class="item-name">${myItems[i].name}</span>
                    <span class="price">${myItems[i].price}</span>
                </div>
            `;
        }
    }
    function buy(i){
        console.log(items[i]);
    }

    async function getRequest(url = '') {
        try {
            const response = await fetch(url, { method: 'GET' });
            if (!response.ok) {
                throw new Error(
                    'Network response was not ok ' + response.statusText
                );
            }
            const responseData = await response.json();
            return responseData;
        } catch (error) {
            console.error('Fetch operation failed:', error);
        }
    }
</script>
</body>
</html>